<div class="loginContainer">
    <mat-list-item class="title">Área de usuarios</mat-list-item>
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()" class="formContainer">
        <mat-form-field class="mb-3">
            <mat-label class="form-label">Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="mb-3">
            <mat-label class="form-label">Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
    </form>
    <button mat-stroked-button (click)="navigateToNewUserView()">Crear usuario</button>
</div>