<div class="newUserContainer">
    <mat-list-item class="title">Registro de usuario</mat-list-item>
    <form [formGroup]="formReg" (ngSubmit)="onSubmit()" class="formContainer">
        <mat-form-field class="mb-3">
            <mat-label class="form-label">Nombre</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>
        <mat-form-field class="mb-3">
            <mat-label class="form-label">Rut</mat-label>
            <input matInput type="text" formControlName="rut">
        </mat-form-field>
        <mat-form-field class="mb-3">
            <mat-label class="form-label">Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field class="mb-3">
            <mat-label class="form-label">Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formReg.valid">Crear usuario</button>
    </form>
    <button mat-stroked-button (click)="navigateToLogin()">Volver al login</button>
</div>